{% extends "layouts/layouts.html" %}

{% block title %}
    {{title_mision}}
{% endblock title %}

{% block content %}
    <h1>{{title_mision}}</h1>
    <h2>{{content_mision}}<h2>
    <p>"Formar profesionales altamente capacitados en tecnología e innovación, comprometidos con el desarrollo económico, social y ambiental de la región y el país. Impulsamos una educación de calidad, práctica y orientada al trabajo, fomentando valores de responsabilidad, integridad y respeto, para que nuestros egresados sean agentes de cambio y contribuyan activamente al bienestar de la sociedad."</p>
{% endblock content %}
