{% extends "layouts/layouts.html" %}

{% block title %}
    {{title_vision}}
{% endblock title %}

{% block content %}
    <h1>{{title_vision}}</h1>
    <h2>{{content_vision}}<h2>
    <p>"Ser una institución líder en educación superior tecnológica, reconocida a nivel nacional e internacional por la excelencia de sus programas académicos, la innovación en sus métodos de enseñanza y su compromiso con el desarrollo sostenible. Aspiramos a formar profesionales competentes, con valores y habilidades que respondan a los retos de un mundo globalizado, contribuyendo al progreso y bienestar de nuestra comunidad y del país"</p>
{% endblock content %}
